*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav{
	height: 59px;
	width:100%;
	top:0;
	position: fixed;
	background: #913E2D;
	box-shadow: : 2px 2px 12px #CFCCCC;
	z-index: 3;
}
nav div a{
	font-family: 'Copperplate',Fantasy;
	color: #F6F4F4;
	margin-left: 40px;
	border-radius: 3px;
	padding: 7px 20px;
	font-size: 20px;
}
nav div{
	display:inline-block;
	padding: 0px 4px 0 0;
	position: relative;
	top:-22px;
	left: 300px;

}

nav div a:hover{
	color: #774646;
	background: #C1B2B2;
	font-family:'Copperplate',Fantasy;
	transition: .5s;	
}

a img{
   margin-left: 50px;
 } 
body{
	background-color: #E8E3E2;
}


a{
	text-decoration: none;
	margin: 50px;
	width: 600px;
}
#back{
	background-image: url("university.jpg") ;
	background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    padding: 98px;
    border-bottom: rgb(79,39,0) solid 10px ;
}
#titre{
	padding-top:80px; 
}
#titre p{
    font-size: 58px;
    background-color: rgba(180,103,103,0.85);
    text-align: center;
    color:rgb(211,211,211);
    width: 78%;
    margin: 53px auto; 
    padding: 100px ;
    font-weight: bold;
    font-family: Brush Script MT,Cursive;
    border-radius: 10px;
    }
 .but img{
 	position:relative;
	height:43px;
	background-color: rgba(242,242,242);
	padding: 10px;
	border-radius: 100px;
	border:7px solid rgb(0,181,90);
	top: 42px;
	left: -130px; 
}
.but img:hover{
	border:7px solid rgb(195,210,239); 
}

#corps {
	
	margin:  auto;
	margin-bottom: 0;
	padding: 90px 0 0 10px ;
	min-height: 600px;
	background-color: rgba(0,91,0,0.6);
}   
#corps img{
	float: left;
	padding: 30px; 
}
#corps h2{
	padding: 60px 0 0 500px;
    font-size: 40px;
    font-family: Lucida Handwriting,Cursive;
}
#corps p{
    font-family: Monaco,Monospace;
    font-size: 30px;
    padding: 60px 50px 0 400px;
}
footer{
	text-align: center;
	padding: 8px;
	padding-left: 0;
	color: black;
	background: white;
	font-family: Copperplate,Fantasy;
	font-size: 17px;
	font-weight: bold;
}
#music{
	min-height: 575px;
	width: 80%;
	margin: 100px auto;
	background-color: rgba(0,0,87,0.5);
}
#music img{
	margin: 63px 0 0 50px;
	float: left;
}
#music h2{
	font-family: Lucida Handwriting,Cursive;
	font-size: 40px;
	padding: 63px 0 0 420px;
}
#music p{
      font-family: Monaco,Monospace;
      font-size: 29px;
      padding: 30px 35px 0 372px;

}

#voyage{
	min-height: 770px;
	width: 80%;
	margin: 100px auto;
	background-color: rgba(132,132,66,0.5);
}
#voyage img{
	margin: -50px 0 0 60px;
	float: left;
}
#voyage h2{
	font-family: Lucida Handwriting,Cursive;
	font-size: 40px;
	padding: 80px 0 0 525px;
}
#voyage p{
      font-family: Monaco,Monospace;
      font-size: 29px;
      padding: 40px 35px 0 480px;
}
#sport{
	min-height: 625px;
	width: 80%;
	margin: 100px auto;
	background-color: rgba(147,147,147,0.5);
}
#sport img{
	margin: -45px 0 0 50px;
	float: left;
}
#sport h2{
	font-family: Lucida Handwriting,Cursive;
	font-size: 40px;
	padding: 65px 0 0 420px
}
#sport p{
      font-family: Monaco,Monospace;
      font-size: 29px;
      padding: 30px 35px 0 372px;
}

header h1{
	font-size: 58px;
    text-align: center;
    margin: 95px auto; 
    padding: 80px ;
    padding-top: 18px;
    font-weight: bold;
    font-family: Brush Script MT,Cursive;
    border-radius: 10px;
}
#contact{
	margin: -150px auto;
	padding-left: 30px;
	padding-top: 7px;
	background-color: #ccc;
	border: 2px solid black ;
	width: 92%;
	height: 350px;
	border-radius: 20px;
	font-family: Helvetica,Sans-serif;
	line-height: 1.8em;
}


legend{
	font-size: 23px;
}
legend span{
	background-color: rgba(245,245,245);
	border-radius: 15px;
	padding: 3px;
}
.id form{
	padding: 10px;
	margin-left: 2px;
	font-family: Monaco,Monospace;
	font-size: 21px;
}
.id input[type="text"] {
	width: 25%;
	padding: 3px;
	margin-left: 5px; 
	border-radius: 40px;
	
}
.id input[type="number"]{
	width: 4%;
	padding: 2px;
	margin-left: 7px; 
	margin-bottom: 10px;
	border-radius: 40px;
}
input[type="radio"]{
	margin-left: 15px;
}
#ville{
     padding-top:25px ;
}
select{
	border-radius: 30px;
	padding: 4px;
}
#email{
	margin: 0 auto;
	padding-left: 30px;
	padding-top: 15px; 
	background-color: #ccc;
	border: 2px solid black ;
	width: 92%;
	height: 360px;
	border-radius: 20px;
	font-family: Helvetica,Sans-serif;
	margin-top:230px;
	line-height: 2.1em;
	margin-bottom: 72px;

}
#email form{
	padding: 10px;
	margin-left: 2px;
	font-family: Monaco,Monospace;
	font-size: 21px;
}
#email input[type="text"] {
	width: 25%;
	padding: 3px;
	margin-left: 5px; 
	border-radius: 40px;
}
#email textarea {
	width: 50%;
	height: 150px;
	margin-left: 5px; 
	overflow: scroll;
}
.valid{
	margin: -35px 0 40px 62px;
	height: 20%;
}
.valid input{
	padding: 12px;
	width: 9%;
	border-radius: 30px;
	margin-left: 20px; 
}
.valid input:hover{
	background-color: rgb(255,9,9); 
	color:white;
}
.parcours{
	border: solid 7px black;
	width: 92%;
	min-height:400px; 
	margin: 85px auto;
}
.parcours h1{
	font-size: 38px;
    margin: 0 165px;
    margin-top: 55px ;
    margin-bottom: 83px; 
    font-family: Brush Script MT;
    border-radius: 10px;
}
.parcours p{
	margin-top: -120px;
	margin-left: 30px;
	padding-left: 30px;
	font-size: 22px;
	font-family: Garamond;
	line-height: 9em;
}
.contenu{
	padding-left: 50px;
}
.parcours div{
	display: inline-block;
}
.passe{
	padding-left: 260px;
	font-family: Georgia,Serif;
}
